
.DS_Store
*.jar
*.class
*.py
*.properties
*.lst
*.prefs
.project
.classpath
.vscode/settings.json
target/surefire-reports/TEST-partitioner.InvertedIndexPartitionerTest.xml
target/surefire-reports/partitioner.InvertedIndexPartitionerTest.txt
.vscode/test-launch.json
